/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  background: #111;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
}
.header img {
  margin-right: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  color: #ddd;
  font-family: 'Chelsea Market';
  font-size: 2.2em;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 30px;
  padding-bottom: 19px;
  text-shadow: 2px 2px 2px #000;
}
.header small {
  font-size: 0.6em;
}

.label-default {
  background-color: #000;
}

#songsList {
  font-size: 1.2em;
  background-color: #222;
  border-radius: 15px!important;
  padding: 25px;
  box-shadow: 0px 0px 10px 3px #666;
}

#songsList .row {
  font-family: 'Chelsea Market';
  color: #ddd;
  margin-bottom: 6px;
  padding-bottom: 2px;
  border-bottom: 1px solid #111;
}

#songsList .row .songTitle {
  text-align: left;
  cursor: pointer;
}

#songsList .row .author {
  text-align: left;
  font-size: 0.7em;
  cursor: pointer;
}

#songsList .row .genre {
  text-align: right;
  font-size: 0.6em;
  cursor: pointer;
  margin-right: 3px;
}

#songsList .row .author:hover, #songsList .row .songTitle:hover, #songsList .row .genre:hover {
  opacity: 0.5;
}

/* Custom page footer */
.footer {
  font-family: 'Chelsea Market';
  margin: 20px 0px 130px 0px;
  color: #777;
  text-align: right;
  text-shadow: 2px 2px 2px #000;
}
.footer a {
  margin-right: 5px;
}

/* Customize container */
.container-narrow > hr {
  margin: 30px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 10px;
  }
}
