<div class="header">
  <img class="pull-left" src="../images/audio_peak.png" alt="audio peak"/>
  <h3>Gouch' Studio <br><small>great recordings for great bands</small></h3>
</div>

<div id="songsList">
  <div class="row" ng-repeat="song in songs">
    <div class="col-md-3 author" style="color:{{bands[song.author].color}}">
      {{bands[song.author].name}}
    </div>
    <div class="col-md-6 songTitle">{{song.title}}</div>
    <div class="col-md-3 genres">
      <span class="label label-default genre" ng-repeat="genreId in song.genres" data-genreId="genreId">
        {{genres[genreId]}}
      </span>
    </div>
  </div>
</div>

<div id="myPlayer" class="jumbotron">
    <audio controls="" preload=""></audio>
    <div id="songName">Play Songs</div>
    <img id="songImage" src="../images/vinyl.png" alt="song image"/>
    <div id="playerControls">
      <div class="command prevSong glyphicon glyphicon-step-backward"></div>
      <div class="command playPause glyphicon glyphicon-play"></div>
      <div class="progressBar">
        <div class="progress"></div>
        <div class="loadingBar"></div>
      </div>
      <span class="timeLeft">0:00</span>
      <div class="command nextSong glyphicon glyphicon-step-forward"></div>
    </div>
    <div id="playerHistory"></div>
</div>

<div class="footer">
  <div class="pull-right">
    <a href="http://glevelapps.blogspot.co.uk" target="_blank">Blog</a>
    <a href="mailto:guillaume.gouchon@gmail.com">Contact</a>
    <small>© Guillaume Gouchon 2014</small>
  </div>
</div>
