<div class="header">
  <img class="pull-left" src="../images/vinyl.png" alt="vinyl"/>
  <h3>Gouch' Studio <br><small>great recordings for great bands</small></h3>
</div>

<div class="jumbotron">
  <div class="myPlayer">
    <audio controls="" preload=""></audio>
    <div class="command prevSong glyphicon glyphicon-step-backward"></div>
    <div class="command playPause glyphicon glyphicon-pause"></div>
    <div class="progressBar">
      <span class="songName"></span>
      <div class="progress"></div>
      <div class="loadingBar"></div>
    </div>
    <span class="timeLeft">0:00</span>
    <div class="command nextSong glyphicon glyphicon-step-forward"></div>
  </div>
  <p class="lead">
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!</a></p>
</div>

<div class="footer">
  <div class="pull-right">
    <a href="http://glevelapps.blogspot.co.uk" target="_blank">Blog</a>
    <a href="mailto:guillaume.gouchon@gmail.com">Contact</a>
    <small>© Guillaume Gouchon 2013</small>
  </div>
</div>
